<div id="<%= dom_id ferret_db %>">
  <p>
    <strong>Date of birth:</strong>
    <%= ferret_db.date_of_birth %>
  </p>

  <p>
    <strong>Genotype:</strong>
    <%= ferret_db.genotype %>
  </p>

  <p>
    <strong>Identifiers:</strong>
    <%= ferret_db.identifiers %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ferret_db.location %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= ferret_db.owner %>
  </p>

</div>
